@import './fonts.css';
@import './direction.css';
@import './main.css';
@import './notice.css';
@import './heart.css';
@import './gallery.css';
@import './weddingHallMap.css';
html, body, main {
  height: 100%;
  margin: 0;
}

html {
  font-size: 16px;
}

@media (max-width: 700px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

body {
  background: antiquewhite;
  font-family: NanumMyeongjo, serif;
  font-size: 1rem;
}

p {
  margin: 0;
}

.container {
  height: 100%;
  font-family: NanumSquare;
}

.inner-container {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.swiper-pagination-bullet-active {
  background: #E91E63;
}

.swiper-button-wrap {
  color: #fff;
  max-width: 40rem;
  position: relative;
  top: -50%;
  margin: 0 auto;
  z-index: 1;
}

.main-swiper-next, .main-swiper-prev {
  user-select: none;
  outline: none;
  transition: all 1.5s;
}

.main-swiper-next::after {
  content: '';
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  position: absolute;
  right: 1.5rem;
}

.main-swiper-prev::before {
  content: '';
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
  position: absolute;
  left: 1.5rem;
}

.main-swiper-prev.swiper-button-disabled::before, .main-swiper-next.swiper-button-disabled::after {
  opacity: 0.3;
}

.content-title {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #DDD;
}

.content-title::before {
  content: '';
  background: url('https://firebasestorage.googleapis.com/v0/b/wedding-invi.appspot.com/o/flower-left.svg?alt=media&token=a389cb95-8a7f-4010-95a1-89ff80391dec') no-repeat;
  background-size: contain;
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
}

.content-title::after {
  content: '';
  background: url('https://firebasestorage.googleapis.com/v0/b/wedding-invi.appspot.com/o/flower-right.svg?alt=media&token=eaff74a2-5ef7-472b-9fa1-a45e1ea16399') no-repeat;
  background-size: contain;
  background-position: right;
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
}

.swiper-lazy-preloader-wrap {
  width: 100%;
  height: 100%;
}

.swiper-lazy-preloader {
  --swiper-preloader-color: gray;
}

.fixed-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background: #0000009c;
  display: none;
  opacity: 0;
  transition: all 500ms;
}

.visible-fixed-container {
  display: block;
}

.opacity-fixed-container {
  opacity: 1;
}