.main-img {
  height: 100%;
  background: url('https://firebasestorage.googleapis.com/v0/b/wedding-invi.appspot.com/o/main.png?alt=media&token=d79de6d7-e67a-4091-b63a-7ab5812e7a10');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-desc-wrap {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  font-family: Saenal, NanumSquare;
  color: #2e2e2e;
  z-index: 1;
}

.confetti {
  background: url(https://firebasestorage.googleapis.com/v0/b/wedding-invi.appspot.com/o/wedding-confetti.png?alt=media&token=bda60bf5-47db-482d-a22d-2b9f11e5faee) no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background-size: contain;
}

.wedding-date {
  font-size: 3.5rem;
}

.wedding-time {
  font-size: 2rem;
}

.map-button-wrap {
  position: absolute;
  bottom: 5rem;
  width: 100%;
}

.map-button-wrap>button {
  cursor: pointer;
  border: none;
  background: #ffffff;
  color: #555;
  font-size: 2rem;
  padding: .3rem 2rem .5rem;
  margin: .5rem;
  border-radius: 0.2rem;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
  font-family: Amsterdam;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: .1rem;
}

.map-button-wrap>button:active {
  background: #ececec;
}

.map-button-wrap>button>img {
  width: 3rem;
  height: 3rem;
}

.direction-button {
  right: 2rem;
}

.map-button {
  left: 2rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #555;
  font-size: 1.4rem;
  border: none;
  background: transparent;
  cursor: pointer;
}