.notice-container {
  font-family: NanumMyeongjo;
  margin: 1rem;
  height: calc(100% - 8rem);
  line-height: 2.5rem;
  overflow-y: scroll;
  background: white;
  padding: 2rem 0;
}

.notice-title {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #DDD;
}

.notice-title::before {
  content: '';
  background: url('https://firebasestorage.googleapis.com/v0/b/wedding-invi.appspot.com/o/flower-left.svg?alt=media&token=a389cb95-8a7f-4010-95a1-89ff80391dec') no-repeat;
  background-size: contain;
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
}

.notice-title::after {
  content: '';
  background: url('https://firebasestorage.googleapis.com/v0/b/wedding-invi.appspot.com/o/flower-right.svg?alt=media&token=eaff74a2-5ef7-472b-9fa1-a45e1ea16399') no-repeat;
  background-size: contain;
  background-position: right;
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
}

.notice-text {
  margin-top: 2rem;
  padding: 0 1rem;
}

.notice-footer {
  border-top: 1px dashed #faebd7;
  margin: 2rem;
  padding-top: 2rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
}