.notice-container {
  font-family: NanumMyeongjo, serif;
  margin: 1rem;
  max-height: calc(100% - 3.5rem);
  line-height: 2.5rem;
  overflow-y: scroll;
  box-shadow: 2px 2px 3px 0 #CCC;
  background: linear-gradient(to bottom, transparent 50%, white 50%);
}

.notice-wrap-like-paper {
  height: 3rem;
  background: white;
  width: calc(100% - 3rem);
  margin-left: auto;
  position: relative;
}

.notice-wrap-like-paper::before {
  position: absolute;
  left: -3rem;
  border: 1.5rem solid white;
  border-left: 1.5rem solid transparent;
  border-top: 1.5rem solid transparent;
  content: '';
  box-shadow: 1px 1px 1rem 0 #AAA;
}

.notice-wrap {
  background: white;
  padding-bottom: 4rem;
}

.notice-text {
  margin-top: 2rem;
  padding: 0 1rem;
}

.notice-footer {
  border-top: 1px dashed #faebd7;
  margin: 2rem;
  padding-top: 2rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.notice-scroll-guide {
  width: calc(100% - 2rem);
  max-width: 38rem;
  height: 2rem;
  background: white;
  position: fixed;
  bottom: 2.5rem;
  padding-bottom: .5rem;
  border-top: 1px solid #DDD;
  overflow: hidden;
  transition: height 300ms;
}

.notice-scroll-guide::before {
  content: '';
  width: 1rem;
  height: 1rem;
  border-top: 1px solid #AAA;
  border-right: 1px solid #AAA;
  display: inline-block;
  transform: rotate(135deg);
}

.hide-notice-scroll-guide {
  height: 0;
  padding-bottom: 0;
  border: none;
}