.wedding-hall-map-wrap {
  width: 100%;
  height: 100%;
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(to bottom, #B6F1FE 50%, #7ECE79 50%);
}

.wedding-hall-map-img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.close-button#wedding-hall-close-button {
  top: 5rem;
  right: 1.5rem;
  color: #555;
  z-index: 20;
}

.wedding-hall-map-caption {
  width: 100%;
  text-align: center;
  color: #245bbf;
  font-family: Amsterdam;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  position: absolute;
  top: 7rem;
  z-index: 20;
}

.wedding-hall-map-caption p {
  font-size: 1.2rem;
  color: #444;
  margin-top: .5rem;
}

.toast-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  text-align: center;
  display: block;
  transition: all 500ms;
  z-index: 100;
}

.float-toast {
  bottom: 6rem;
  height: auto;
}

.toast {
  display: inline-block;
  padding: .7rem 1.5rem .8rem;
  margin: 0 1rem;
  min-width: 20rem;
  background: #0000007a;
  border-radius: .2rem;
  box-shadow: 0 0.5rem 1rem -0.5rem #000000d9;
  font-family: Amsterdam;
  font-size: 1.2rem;
  color: white;
  text-align: left;
  white-space: pre-wrap;
  line-height: 1.5rem;
}

.frontground-welcome {
  position: absolute;
  top: 50%;
  transform: translate(50%, 17%);
  width: 15%;
}

.frontground-hill {
  position: absolute;
  width: 55%;
  left: 50%;
  top: 50%;
  transform: translate(-30%, 105%);
}

.clickable-stuff {
  position: absolute;
  top: 50%;
}

.photozone {
  width: 25%;
  transform: translateY(-63%);
  animation: photozone 2s infinite ease-in-out;
}

.gallery1 {
  width: 15%;
  left: 50%;
  transform: translate(-150%, 10%);
  animation: gallery1 1s infinite ease-in-out;
  z-index: 10;
}

.gallery2 {
  width: 15%;
  left: 50%;
  transform: translate(-119%, 70%);
}

.bride-room {
  width: 25%;
  left: 50%;
  transform: translate(-20%, 45%);
  animation: brideRoom 1.5s infinite;
}

.second-stage {
  width: 32%;
  left: 50%;
  transform: translate(-35%, -120%);
  animation: secondStage 1.5s infinite ease-in-out;
}

@keyframes photozone {
  0% {
    transform: translateY(-63%) rotate(5deg);
  }
  50% {
    transform: translateY(-63%) rotate(-5deg);
  }
  100% {
    transform: translateY(-63%) rotate(5deg);
  }
}

@keyframes gallery1 {
  0% {
    transform: translate(-150%, 10%) scale(0.9);
  }
  50% {
    transform: translate(-150%, 10%);
  }
  100% {
    transform: translate(-150%, 10%) scale(0.9);
  }
}

@keyframes brideRoom {
  0% {
    transform: translate(-20%, 45%) rotate(5deg);
  }
  50% {
    transform: translate(-20%, 45%) rotate(-5deg);
  }
  100% {
    transform: translate(-20%, 45%) rotate(5deg);
  }
}

@keyframes secondStage {
  0% {
    transform: translate(-35%, -120%) scale(0.9);
  }
  50% {
    transform: translate(-35%, -120%) scale(1.05);
  }
  100% {
    transform: translate(-35%, -120%) scale(0.9);
  }
}