@font-face {
  font-family: 'NanumMyeongjo';
  src: url('../assets/NanumMyeongjo.ttf') format('truetype');
}

@font-face {
  font-family: 'Saenal';
  src: url('../assets/Saenal.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  src: url('../assets/NanumSquareRoundB.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('../assets/NanumSquareRoundR.ttf') format('truetype');
}

html, body, main {
  height: 100%;
  margin: 0;
}

body {
  background: antiquewhite;
}

p {
  margin: 0;
}

.container {
  height: 100%;
  font-family: NanumSquare;
}

.inner-container {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.swiper-pagination-bullet-active {
  background: #E91E63;
}