@font-face {
  font-family: 'NanumMyeongjo';
  src: url('../assets/fonts//NanumMyeongjo.ttf') format('truetype');
}

@font-face {
  font-family: 'Saenal';
  src: url('../assets/fonts//Saenal.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  src: url('../assets/fonts//NanumSquareRoundB.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('../assets/fonts//NanumSquareRoundR.ttf') format('truetype');
}

html, body, main {
  height: 100%;
  margin: 0;
}

@media (max-width: 700px) {
  html {
    font-size: 14px;
  }
}

body {
  background: antiquewhite;
  font-family: NanumMyeongjo;
}

p {
  margin: 0;
}

.container {
  height: 100%;
  font-family: NanumSquare;
}

.inner-container {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.swiper-pagination-bullet-active {
  background: #E91E63;
}

.fixed-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background: #0000009c;
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

.visible-fixed-container {
  display: block;
}

.opacity-fixed-container {
  opacity: 1;
}